<div class="headerContainer">
  <img class="logo" src="https://www.fortmcdowellcasino.com/sysimg/media-box-image-gaming-poker-7775-7777-image.jpg">
  <i class="material-icons" id="searchIcon">search</i>
  <label for="searchInput"></label><input type="text" class="searchText" id="searchInput"/>
  <nav id="navBar">
    <a routerLink="/">Home</a>
    <a routerLink="/News">News</a>
    <a routerLink="/Promotions">Promotions</a>
    <a routerLink="/Tourneys">Tourneys</a>
    <a routerLink="/Marketplace">Marketplace</a>
    <a routerLink="/Players">Players</a>
    <a routerLink="/Contact">Contact</a>
  </nav>
</div>
<router-outlet></router-outlet>
