<div class="homeContainer">
  <div class="container leftSide">
    <p>How to get CSS width and 100% for full screen width to work? I.e ...
      https://www.quora.com/How-do-I-get-CSS-width-and-100-for-full-screen-width-to-w...
      Every block element in HTML have 100% width of his parent. So If you don't
    </p>
  </div>
  <div class="container center">
    <p>Full Width Containers in Limited Width Parents | CSS-Tricks
      https://css-tricks.com/full-width-containers-limited-width-parents/
      Jul 25, 2016 - We could use the width of the browser window in our CSS math.
    </p>
  </div>
  <div class="container rightSide">
    <p>Use screen measurements to design for responsive breakpoints ...
      https://help.optimizely.com/.../Use_screen_measurements_to_design_for_responsive_...
      Apr 21, 2017 - Align JavaScript and jQuery screen measurements with CSS attributes;
    </p>
  </div>
</div>
